[submodule "CoCoCoLa-Game-Engine/vendor/GLFW"]
	path = CoCoCoLa-Game-Engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "CoCoCoLa-Game-Engine/vendor/imgui"]
	path = CoCoCoLa-Game-Engine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "CoCoCoLa-Game-Engine/vendor/glm"]
	path = CoCoCoLa-Game-Engine/vendor/glm
	url = https://github.com/g-truc/glm
